:root {
    --background-color: #2b2b2b;
    --color-primary: #e4e2dd;
    --color-secondary:#ff89a9;
  }

  footer{
    background: var(--background-color);
    color: var(--color-primary);
  }

  footer p{
    margin: 0px;
    padding: 20px;
    text-align: center;
  }